pkgbase = flacon
	pkgdesc = Extracts individual tracks from one big audio file containing the entire album of music and saves them as separate audio files.
	pkgver = 0.8.0
	pkgrel = 1
	url = http://code.google.com/p/flacon/
	arch = any
	license = GPL
	depends = python2-qt
	depends = shntool
	optdepends = flac: for decoding and encoding FLAC files
	optdepends = mac: for decoding APE files
	optdepends = wavpack: for decoding WV files
	optdepends = oggenc: for encoding OGG files
	optdepends = lame: for encoding MP3 files
	optdepends = vorbisgain: for OGG replay gain
	optdepends = mp3gain: for MP3 replay gain
	source = http://flacon.googlecode.com/files/flacon-0.8.0.tgz
	sha256sums = d2889b364ea49b19c400ce8081d829e5a37149dfdcb82d55f6ab453b679d1f85

pkgname = flacon

